<h1>PIRATE</h1>

<p>Name: <%=@pirate.name%></p>
<p>Weight: <%=@pirate.weight%></p>
<p>Height: <%=@pirate.height%></p>

<h2>SHIPS</h2>
<% @ships.each do |ship| %>
<div class="ship">
<p><%=ship.name%></p>
<p><%=ship.type%></p>
<p><%=ship.booty%></p>
</div><br>
<%end%>
