<h1>Pirate</h1>
<h3>Pirate Name: <%= @pirate.name %></h3>
<h4>Pirate Weight: <%= @pirate.weight %></h4>
<h4>Pirate Height: <%= @pirate.height %></h4>

<h2>Ships</h2>
<% @ships.each do |ship| %>
  <div class="">
    <p>Ship Name: <%= ship.name %></p>
    <p>Ship Type: <%= ship.type %></p>
    <p>Ship Booty: <%= ship.booty %></p>
  </div>
<% end %>
